<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/bootstrap.php"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertErrorsToExceptions="true"
         backupStaticAttributes="false"
         processIsolation="false"
         backupGlobals="false"
         stopOnFailure="false"
         syntaxCheck="false"
         colors="true">

    <testsuites>
        <testsuite name="Symfony2 Bundle for Doctrine Cache">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>benchmark</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Resources</directory>
                 <directory>./vendor</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
